<?php

	$margin = 10;

	$opct = function($r,$g,$b) {
		return "rgba(".$r.",".$g.",".$b.",.5)";
	};

	$mixin = new Mixin('
		width: calc(((100% * $1) / $2) - ' . ($margin * 2) . 'px);
	');

	$extend = new Extend('
		height: 25px;
		margin: ' . $margin . 'px;
		background-color: '.$opct(0,0,0).';
	');

?>



body, header {
	justify-content: center;
}



.container {
	width: 90%;
	background-color: #ccc;
}



<?= $extend('.col-1-1') ?> {
	<?= $mixin(array(1,1)) ?>
}
<?= $extend('.col-1-2') ?>,
<?= $extend('.col-2-4') ?>,
<?= $extend('.col-3-6') ?> {
	<?= $mixin(array(1,2)) ?>
}
<?= $extend('.col-1-3') ?>,
<?= $extend('.col-2-6') ?> {
	<?= $mixin(array(1,3)) ?>
}
<?= $extend('.col-2-3') ?>,
<?= $extend('.col-4-6') ?> {
	<?= $mixin(array(2,3)) ?>
}
<?= $extend('.col-1-4') ?> {
	<?= $mixin(array(1,4)) ?>
}
<?= $extend('.col-3-4') ?> {
	<?= $mixin(array(3,4)) ?>
}
<?= $extend('.col-1-5') ?> {
	<?= $mixin(array(1,5)) ?>
}
<?= $extend('.col-2-5') ?> {
	<?= $mixin(array(2,5)) ?>
}
<?= $extend('.col-3-5') ?> {
	<?= $mixin(array(3,5)) ?>
}
<?= $extend('.col-4-5') ?> {
	<?= $mixin(array(4,5)) ?>
}
<?= $extend('.col-1-6') ?> {
	<?= $mixin(array(1,6)) ?>
}
<?= $extend('.col-5-6') ?> {
	<?= $mixin(array(5,6)) ?>
}